<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.ty.photography.dao.UserLotteryMapper"> 

	<resultMap id="resultMap" type="com.ty.photography.model.UserLottery" >
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="lottery_time" property="lotteryTime" jdbcType="TIMESTAMP"/>
		<result column="lottery_result" property="lotteryResult" jdbcType="INTEGER"/>
		<result column="lottery_name" property="lotteryName" jdbcType="VARCHAR"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="mobile" property="mobile" jdbcType="VARCHAR"/>
		<result column="postcode" property="postcode" jdbcType="VARCHAR"/>
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.ty.photography.model.UserLottery">
		insert into sy_user_lottery (id,user_id,lottery_time,lottery_result,lottery_name,user_name,
			mobile,postcode,address,status)
		values(#{id},#{userId},#{lotteryTime},#{lotteryResult},#{lotteryName},#{userName},
			#{mobile},#{postcode},#{address},#{status});
	</insert>

	<select id="queryByCondition" parameterType="com.ty.photography.common.SearchPageUtil" resultMap="resultMap">
		select * from sy_user_lottery
		<where>
			<if test="object !=null and object.userId != null">
				user_id = #{object.userId}
			</if>
			<if test="object !=null and object.userName != null">
				 and user_name like '%${object.userName}%'
			</if>
			<if test="object !=null and object.mobile != null">
				 and mobile like '%${object.mobile}%' 
			</if>
			<if test="object !=null and object.address != null">
				 and address like '%${object.address}%'
			</if>
			<if test="object !=null and object.fromTime != null">
				 and <![CDATA[ lottery_time >= #{object.fromTime}  ]]>
			</if>
			<if test="object !=null and object.toTime != null">
				and <![CDATA[ lottery_time <= #{object.toTime}  ]]> 
			</if>
			<if test="object !=null and object.lotteryResult_notZero != null">
				and lottery_result >= #{object.lotteryResult_notZero}
			</if>
			<if test="object !=null and object.lotteryResult != null">
				and lottery_result = #{object.lotteryResult}
			</if>
			<if test="object !=null and object.status != null">
				and status = #{object.status}
			</if>
		</where>
		order by lottery_time desc
	</select>
	
	<select id="queryRecentlyWinInfo" resultMap="resultMap">
		select * from sy_user_lottery where status = 2 order by lottery_time desc limit 0 ,15
	</select>
	
	<select id="getTotalWin" resultType="int">
		select count(*) from sy_user_lottery where  status >=1
	</select>
	
	<select id="findByStatus" resultMap="resultMap">
		select * from sy_user_lottery where user_id=#{userId} and status=#{status} limit 0,1
	</select>
	
	<update id="saveUserLotteryInfo" parameterType="com.ty.photography.model.UserLottery">
		update sy_user_lottery 
		<set>
			<if test="userName != null">
				user_name=#{userName} ,
			</if>
			<if test="mobile != null">
				mobile=#{mobile} ,
			</if>
			<if test="postcode != null">
				postcode=#{postcode} ,
			</if>
			<if test="address != null">
				address=#{address} ,
			</if>
			<if test="status != null">
				status=#{status}
			</if>
		</set>
		where user_id = #{userId} and status = 1
	</update>
</mapper>
